<section>
  <div class="info-box">
    <span class="material-icons info-icon">info</span>
    <div class="info-content">
        <strong>¿Por que es importante aprender UX/UI?</strong>
        <p>
            Aprender <b>diseño UX/UI</b> es fundamental para garantizar que los usuarios tengan experiencias fluidas, eficientes y agradables al interactuar con productos digitales. La combinación de <b>Experiencia de Usuario (UX)</b> y <b>Diseño de Interfaces de Usuario (UI)</b> permite desarrollar soluciones tecnológicas centradas en las personas, optimizando la usabilidad, accesibilidad y estética de aplicaciones web y móviles.  
        </p>
    </div>
</div>
</section>