<section class="section-one">
    <div class="container">
        <h1>Análisis y diseño de interfaces de usuario</h1>
        <p class="highlight">Al final de la lección tú sabrás:</p>
        <ul>
            <li>Los principios básicos del diseño</li>
            <li>El por qué aprender diseño UX/UI</li>
            <li>Conocer e identificar al usuario</li>
            <li>Como identificar elementos de diseño a partir de requerimientos</li>
            <li>Cómo crear wireframes y prototipos</li>
            <li>Como utilizar las metodologías Ágiles orientadas al diseño</li>
        </ul>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='/assets/wave_bottom.svg') }}" alt="Wave bottom design">
    </div>
</section>