<section class="section-two">
    <ol>
        <li >
            <div class="title">Unidad</div>
            <div class="descr">se refiere a la idea de que todos los elementos de un diseño deben estar relacionados y trabajar juntos para crear un todo armonioso.</div>
        </li>
        <li >
            <div class="title">Equilibrio</div>
            <div class="descr">se refiere a cómo los elementos de un diseño se distribuyen visualmente para crear una sensación de estabilidad y armonía.</div>
        </li>
        <li >
            <div class="title">Contraste</div>
            <div class="descr">se refiere a la creación de diferencias visuales entre los elementos de un diseño, para destacar ciertas partes de este.</div>
        </li>
        <li >
            <div class="title">Jerarquía</div>
            <div class="descr">se refiere a la manera en que se organizan los elementos de un diseño para indicar su importancia y guían al espectador a través del diseño.</div>
        </li>
        <li >
            <div class="title">Proporción</div>
            <div class="descr">se refiere a la relación correcta entre los diferentes tamaños de los elementos de un diseño.</div>
        </li>
        <li >
            <div class="title">Simetría</div>
            <div class="descr">se refiere a la creación de diseños que son equilibrados y armónicos a través del uso de líneas y formas simétricas.</div>
        </li>
        <li >
            <div class="title">Movimiento</div>
            <div class="descr">se refiere a la creación de una sensación de movimiento o dirección en un diseño, como a través del uso de líneas de dirección o de la disposición de los elementos.</div>
        </li>
    </ol>
</section>